<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.gov.sp.pcsp.launcher">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="SIG"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:theme="@style/Theme.SIG">

        <activity
            android:name=".WebViewActivity"
            android:exported="false" />

        <activity
            android:name=".RgCalculatorActivity"
            android:exported="false" />

        <activity
            android:name=".ImeiCalculatorActivity"
            android:exported="false" />

        <activity
            android:name=".FfmpegCutActivity"
            android:exported="false" />

        <activity
            android:name=".FfmpegActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.SIG"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ToolsActivity" android:exported="false" />
    </application>
</manifest>
