<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:label="SIG"
        android:name=".SigApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SIG">

        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />

        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".RgCalculatorActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ImeiCalculatorActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ImeiSettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".FfmpegCutActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="SIG - Cortar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FfmpegExtractAudioActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="SIG - Extrair áudio">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FfmpegRotateVideoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".FfmpegJoinVideosActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".FfmpegCleanAudioActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".WhisperActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".experimental.npu.NpuTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".RemoteSttActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="SIG - Transcrever Granite">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ModelSettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".FfmpegActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SIG"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ToolsActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".CalculatorToolsActivity" android:screenOrientation="portrait" android:exported="false" />
    </application>
</manifest>
